body{
 text-align: center;
}

#gridView img{
height: 200px;
    width: 200px;
    padding: 5px;
}

#myCarousel{
  background-color: deepskyblue;
}

#myCarousel img{
    height: 250px;
    margin-top: 35px;
}
